* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: .8em;
  width: 100%;
  color: #808080; /* gray */
}

a:link {
  text-decoration: none;
}

/* reusable class */
.default-center {
  max-width: 900px;
  margin: 0 auto;
}

.uppercase-text {
  text-transform: uppercase;
}

.bold-text {
  font-weight: bold; /* 700 */
}

.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  list-style-type: none;
  width: 100%;
}

input[id^="tab"] {
  display: none; /* hide radio button */
}

.sub-content {
  padding-top: 3em;
}

.sub-heading {
  text-align: center;
}

.sub-heading h2 {
  margin-bottom: .5em;
  color: #000;
}

.sub-heading p {
  font-style: italic;
  margin-bottom: 2em;
}

/* link color */
.service-title a:link,
.service-details a:visited,
.project-info a:link {
  color: #000000;
}

.service-title a:visited,
.service-details a:link,
.project-info a:visited {
  color: #9932cc; /* dark orchid */
}

/* heading section */
.heading {
  position: relative;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #fff; /* white */
}

.heading a:link,
.heading a:visited {
  color: #fff;
}

.heading-background-image {
  height: 700px;
  background-image: linear-gradient(to bottom right, rgba(153, 50, 204, .8), rgba(255, 165, 0, .8)), url("https://unsplash.it/1240/700?image=665");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/* site main navigation */
.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d3d3d3; /* light gray */
}

/* site logo */
.logo {
  padding-right: .5em;
  font-size: 1.7em;
}

/* main menu */
.main-menu {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 600px;
  font-size: .9em;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

.main-menu ul {
  display: flex;
  justify-content: flex-end;
}

.main-menu li {
  display: inline;
  padding-right: 3em;
}

/* side menu */
.side-menu {
  padding-left: 1em;
  font-size: 1.5em;
}

.side-menu ul {
  display: flex;
  justify-content: flex-start;
}

.side-menu li {
  display: inline;
  padding-right: 2em;
}

/* heading text */
.heading-text {
  position: absolute;
  top: 11.5em;
  left: 0;
  width: 100%;
  text-align: center;
}

/* heading title */
.heading-text h1 {
  font-size: 5.6em;
}

.heading-text p {
  font-size: 1.7em;
}

.heading-text .play-icon {
  margin-top: 1em;
  font-size: 6.2em;
}

/* intro section */
.intro {
  margin-top: 3em;
  margin-bottom: 3em;
}

/* outline section */
.outline {
  margin-bottom: 3.5em;
}

.outline-tabs {
  flex-direction: column;
  position: relative;
  height: 275px;
}

.outline-title {
  display: inline-block;
  width: 85px;
  padding-top: .8em;
  padding-bottom: .8em;
  cursor: pointer;
  white-space: nowrap;
  border-bottom: 1px solid #d3d3d3;
}

.outline-tabs > li:last-of-type .outline-title {
  border-bottom: none;
}

.outline-details {
  display: none;
  position: absolute;
  top: 0;
  left: 10%;
  width: 90%;
  height: 275px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  overflow: scroll;
  border-left: 1px solid #d3d3d3;
}

.outline-details ul {
  padding-top: 1em;
  padding-bottom: 1em;
}

.outline-details li {
  padding-bottom: .2em;
  list-style-type: circle;
  list-style-position: inside;
}

/* tab selection */
input[id^="tab-outline"]:checked + .outline-title {
  font-weight: bold;
}

input[id^="tab-outline"]:checked ~ .outline-details {
  display: block;
}

/* services section */
.services {
  display: flex;
}

.service-description {
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #d3d3d3;
}

/* why us section */
.why-us {
  position: relative;
  width: 100%;
  height: 530px;
  background-color: #e6f7ff; 
}

.why-us-background-image {
  float: right;
  width: 50%;
  height: 530px;
  background-image: linear-gradient(to right, #e6f7ff, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://unsplash.it/795/530?image=2");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.why-us-text {
  position: absolute;
  top: 6.2em;
  left: 18.5%;
  width: 30%;
}

.why-us-heading h2 {
  margin-bottom: .5em;
  color: #000;
}

.why-us-heading p {
  margin-bottom: 3.5em;
  font-style: italic;
}

.reason-icon {
  float: left;
  margin-right: 1em;
  color: #000;
}

.reason-title {
  margin-bottom: .5em;
  color: #000;
}

.reason-description {
  margin-bottom: 1.8em;
  overflow: hidden;
}

.download-button {
  display: inline-block;
  margin-top: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
  border: 1px solid #000;
  border-radius: 15px;
  color: #000;
}

/* team section */
.team {
  position: relative;
  width: 100%;
  color: #fff;
}

.team-background-image {
  height: 500px;
  background-image: url("https://unsplash.it/1500/500?image=378;gravity=center;blur");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #808080;
  background-blend-mode: darken;
}

.team-heading h2 {
  color: inherit;
}

.all-team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 1em;
}

.team-member {
  width: 32%;
  margin-bottom: 2em;
}

.member-description {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: .9em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.member-contact a:link,
.member-contact a:visited {
  margin-right: .3em;
  color: #fff;
}

/* statistics section */
.stats-tabs {
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 550px;
}

.stats-tabs li {
  flex-grow: 1;
}

.stats-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 285px;
  text-align: center;
  cursor: pointer;
  background: #f5f5f5; /* white smoke */
  color: #9932cc;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

/* icon animation */
.link-icon {
  transition-duration: 1s;
}

input[id^="tab-stats"]:checked + .stats-title > .link-icon {
  transform: rotateY(360deg);
}

.link-text {
  height: 0;
  overflow: hidden;
  transition: height .2s, margin .8s;
}

.stats-title:hover .link-text {
  height: 15px;
  margin-top: 3.2em;
  margin-bottom: 4em;
}

input[id^="tab-stats"]:checked + .stats-title {
  background: #9932cc;
  color: #f5f5f5;
}

input[id^="tab-stats"]:checked + .stats-title > .link-text {
  height: 15px;
  margin-top: 3.2em;
  margin-bottom: 4em;
}

.stats-details {
  display: none;
  position: absolute;
  top: 285px;
  left: 0;
  width: 100%;
  height: 265px;
}

input[id^="tab-stats"]:checked ~ .stats-details {
  display: block;
}

.stats-items {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.stats-container {
  margin-top: 3.8em;
  text-align: center;
}

.stats-display-background {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 75px;
  color: #000;
}

.stats-logo {
  margin-top: 2em;
}

.stats-number {
  font-size: 3.5em;
}

.stats-text {
  margin-top: 2em;
}

/* project section */
.all-projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  display: flex;
  align-items: flex-start;
  width: 50%;
}

.project-picture {
  max-width: 50%;
  height: auto;
}

.project-info {
  width: 50%;
  padding: 2em;
}

.project-type {
  margin-bottom: 2.5em;
  color: #9932cc;
}

.project-name {
  margin-bottom: 1em;
  color: #000;
}

.project-description {
  margin-bottom: 2em;
}

/* latest news section */
.all-news {
  display: flex;
  align-items: flex-start;
  padding-top: 1.5em;
  padding-bottom: 3.5em;
}

.news {
  position: relative;
  width: 100%;
}

.news-background-image {
  height: 240px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border: 1px solid #fff;
}

.news-background-image-1 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://unsplash.it/480/240?image=369");
}

.news-background-image-2 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://unsplash.it/480/240?image=899");
}

.news-background-image-3 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://unsplash.it/480/240?image=533");
}

.news-info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}

.news-date {
  float: left;
  width: 15%;
  margin-left: 1.5em;
  padding-right: 2em;
  text-align: center;
  font-size: 1.2em;
}

.news-date-day {
  border-bottom: 2px solid #fff;
}

.news-title {
  display: inline-block;
  margin-bottom: .5em;
  color: #fff;
}

.news-details {
  margin-bottom: 1em;
  margin-right: 1.5em;
  overflow: scroll;
}
