* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: .8em;
  width: 100%;
  color: #808080; /* gray */
}

a:link {
  text-decoration: none;
}

/* reusable style */
.default-center {
  max-width: 900px;
  margin: 0 auto;
}

.uppercase-text {
  text-transform: uppercase;
}

.bold-text {
  font-weight: bold; /* 700 */
}

.menu {
  list-style-type: none;
}

.menu li {
  display: inline-block;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  list-style-type: none;
  width: 100%;
}

input[id^="tab"] {
  display: none; /* hide radio button */
}

.sub-content {
  padding-top: 3em;
}

.sub-heading {
  text-align: center;
}

.sub-heading h2 {
  margin-bottom: .5em;
  color: #000;
}

.sub-heading p {
  font-style: italic;
  margin-bottom: 2em;
}

.social-contact a:link {
  margin-right: .3em;
}

/* link color */
.menu a:link,
.menu a:visited,
.social-contact a:link {
  color: #fff;
}

.service-title a:link,
.service-details a:visited,
.project-info a:link {
  color: #000000;
}

.service-title a:visited,
.service-details a:link,
.project-info a:visited,
.social-contact a:visited {
  color: #9932cc; /* dark orchid */
}

/* heading section */
.heading {
  position: relative;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #fff; /* white */
}

.heading a:link,
.heading a:visited {
  color: inherit;
}

.heading-background-image {
  height: 700px;
  background-image: linear-gradient(to bottom right, rgba(153, 50, 204, .8), rgba(255, 165, 0, .8)), url("https://unsplash.it/1240/700?image=665");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/* main navigation */
.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d3d3d3; /* light gray */
}

/* site logo */
.logo {
  padding-left: .5em;
  padding-right: .5em;
  font-size: 1.7em;
}

/* responsive menu */
#r-menu,
.responsive-menu {
  display: none;
}

.responsive-menu-icon {
  padding-left: 1em;
}

.responsive-menu-icon i {
  transition-duration: .5s;
}

/* main menu */
.main-menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 600px;
  font-size: .9em;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

.main-menu li {
  padding-right: 3em;
}

/* side menu */
.side-menu {
  display: flex;
  justify-content: flex-start;
  padding-left: 1em;
  font-size: 1.5em;
}

.side-menu li {
  padding-right: 2em;
}

/* heading text */
.heading-text {
  position: absolute;
  top: 11.5em;
  left: 0;
  width: 100%;
  text-align: center;
}

/* heading title */
.heading-text h1 {
  font-size: 5.6em;
}

.heading-text p {
  font-size: 1.7em;
}

.heading-text .play-icon {
  margin-top: 1em;
  font-size: 6.2em;
}

/* intro section */
.intro {
  margin-top: 3em;
  margin-bottom: 2em;
}

/* outline section */
.outline {
  margin-bottom: 3.5em;
}

.outline-tabs {
  flex-direction: column;
  position: relative;
  height: 275px;
}

.outline-tabs > li {
  width: 10%;
}

.outline-title {
  display: inline-block;
  width: 90%;
  padding-top: .8em;
  padding-bottom: .8em;
  cursor: pointer;
  border-bottom: 1px solid #d3d3d3;
}

.outline-tabs > li:last-of-type .outline-title {
  border-bottom: none;
}

.outline-details {
  display: none;
  position: absolute;
  top: 0;
  left: 10%;
  width: 90%;
  height: 275px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  overflow: scroll;
  border-left: 1px solid #d3d3d3;
}

.outline-details ul {
  padding-top: 1em;
  padding-bottom: 1em;
}

.outline-details li {
  padding-bottom: .2em;
  list-style-type: circle;
  list-style-position: inside;
}

/* tab selection */
input[id^="tab-outline"]:checked + .outline-title {
  font-weight: bold;
}

input[id^="tab-outline"]:checked ~ .outline-details {
  display: block;
}

/* services section */
.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  width: 25%;
}

.service-description {
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #d3d3d3;
}

.service-details {
  margin-bottom: 1em;
}

/* why us section */
.why-us {
  position: relative;
  width: 100%;
  height: 530px;
  background-color: #e6f7ff; 
}

.why-us-background-image {
  float: right;
  width: 50%;
  height: 530px;
  background-image: linear-gradient(to right, #e6f7ff, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://unsplash.it/795/530?image=2");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.why-us-text {
  position: absolute;
  top: 6.2em;
  left: 18.5%;
  width: 30%;
}

.why-us-heading h2 {
  margin-bottom: .5em;
  color: #000;
}

.why-us-heading p {
  margin-bottom: 10%;
  font-style: italic;
}

.reason-icon {
  float: left;
  margin-right: 1em;
  color: #000;
}

.reason-title {
  margin-bottom: .5em;
  color: #000;
}

.reason-description {
  margin-bottom: 1.8em;
  overflow: hidden;
}

.download-button {
  display: inline-block;
  margin-top: 5%;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
  border: 1px solid #000;
  border-radius: 15px;
  color: #000;
}

/* team section */
.team {
  position: relative;
  width: 100%;
  color: #fff;
}

.team-background-image {
  background-image: url("https://unsplash.it/1500/500?image=378;gravity=center;blur");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #808080;
  background-blend-mode: darken;
}

.team-sub-content {
  padding-bottom: 4.2em;
}

.team-heading h2 {
  color: inherit;
}

.all-team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 1em;
}

.team-member {
  width: 32%;
  margin-bottom: 2em;
}

.member-description {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: .9em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

/* statistics section */
.stats-tabs {
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 550px;
}

.stats-tabs li {
  flex-grow: 1;
}

.stats-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 285px;
  text-align: center;
  cursor: pointer;
  background: #f5f5f5; /* white smoke */
  color: #9932cc;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

/* icon animation */
.link-icon {
  transition-duration: 1s;
}

input[id^="tab-stats"]:checked + .stats-title > .link-icon {
  transform: rotateY(360deg);
}

.link-text {
  height: 0;
  overflow: hidden;
  transition: height .2s, margin .8s;
}

.stats-title:hover .link-text {
  height: 15px;
  margin-top: 3.2em;
  margin-bottom: 4em;
}

input[id^="tab-stats"]:checked + .stats-title {
  background: #9932cc;
  color: #f5f5f5;
}

input[id^="tab-stats"]:checked + .stats-title > .link-text {
  height: 15px;
  margin-top: 3.2em;
  margin-bottom: 4em;
}

.stats-details {
  display: none;
  position: absolute;
  top: 285px;
  left: 0;
  width: 100%;
  height: auto;
}

input[id^="tab-stats"]:checked ~ .stats-details {
  display: block;
}

.stats-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.stats-container {
  margin-top: 3.8em;
  text-align: center;
}

.stats-display-background {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 75px;
  color: #000;
}

.stats-logo {
  margin-top: 2em;
}

.stats-number {
  font-size: 3.5em;
}

.stats-text {
  margin-top: 2em;
}

/* project section */
.all-projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.project-picture {
  max-width: 50%;
  height: auto;
}

.project-info {
  align-self: stretch;
  width: 50%;
  padding: 2em;
}

.project-type {
  margin-bottom: 2.5em;
  color: #9932cc;
}

.project-name {
  margin-bottom: 1em;
  color: #000;
}

.project-description {
  margin-bottom: 2em;
}

/* latest news section */
.all-news {
  display: flex;
  align-items: flex-start;
  padding-top: 1.5em;
  padding-bottom: 3.5em;
}

.news {
  position: relative;
  width: 100%;
}

.news-background-image {
  height: 240px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border: 1px solid #fff;
}

.news-background-image-1 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://unsplash.it/480/240?image=369");
}

.news-background-image-2 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://unsplash.it/480/240?image=899");
}

.news-background-image-3 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://unsplash.it/480/240?image=533");
}

.news-info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}

.news-date {
  float: left;
  width: 4.5em;
  margin-left: 1.5em;
  padding-right: 2em;
  text-align: center;
  font-size: 1.2em;
}

.news-date-day {
  border-bottom: 2px solid #fff;
}

.news-title {
  display: inline-block;
  margin-bottom: .5em;
  color: #fff;
}

.news-details {
  margin-bottom: 1em;
  margin-right: 1.5em;
  overflow: scroll;
}

/* more info section */
.more-info {
  background: #9932cc;
  color: #fff;
}

.info-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

.info-heading p {
  font-size: 1.2em;
}

.info-button {
  padding: .5em 1.5em;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #fff;
  color: #fff;
}

.info-content {
  display: flex;
  justify-content: space-around;
}

.info-picture {
  display: block;
  max-width: 100%;
  height: auto;
}

/* footer section */
footer {
  font-family: "Lato", sans-serif;
  font-size: .9em;
  background-color: #222;
}

.main-footer {
  display: flex;
  justify-content: center;
  padding-top: 3.5em;
  padding-bottom: 2em;
}

.footer-container {
  width: 25%;
  padding-right: 2em;
}

.footer-heading {
  text-transform: uppercase;
  padding-bottom: 3em;
  color: #fff;
}

.footer-content {
  margin-bottom: 2em;
}

.footer-nav li {
  display: block;
  margin-bottom: 1em;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#subscribe-email {
  width: 100%;
  padding: .5em;
  margin-bottom: 2.5em;
  border: 1px solid #808080;
  border-radius: 5px;
}

.subscribe-button {
  padding: .5em 1.5em;
  background-color: inherit;
  cursor: pointer;
  color: #fff;
  border: 2px solid #9932cc;
  border-radius: 15px;
}

.copyright {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  border-top: 1px solid #808080;
}

/* tablet devices */
@media only screen and (max-width: 800px) {
  .default-center {
    padding-left: 1em;
    padding-right: 1em;
  }

  /* main navigation */
  .top-nav {
    display: block;
  }

  /* hide main menu and side menu */
  .main-menu,
  .side-menu {
    display: none;
  }

  .logo {
    padding-top: .2em;
    padding-bottom: .2em;
  }

  /* display the accordion style menu */
  .responsive-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 110px;
    padding: 1.1em;
    cursor: pointer;
    text-align: center;
    font-size: 1.1em;
  }

  /* change responsive menu background color */
  #r-menu:checked + .responsive-menu {
    background: rgba(153, 50, 204, .5);
  }

  #r-menu:checked + .responsive-menu > .responsive-menu-icon i {
    transform: rotateX(180deg);
  }

  /* display the menu as drop down */
  #r-menu:checked ~ .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 110px;
    padding: .5em;
    /* background: linear-gradient(to bottom right, rgba(153, 50, 204, .8), rgba(255, 165, 0, .8)); */
    background: rgba(153, 50, 204, 1);
  }

  /* adjustment for the drop down menu */
  .main-menu {
    top: 4.2em;
    border-left: none;
    border-right: none;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
  }

  .main-menu li {
    padding: .8em 1em;
  }

  .side-menu {
    top: 11.3em;
    border-top: 1px solid #d3d3d3;
  }

  .side-menu li {
    padding: .4em 1em;
  }

  /* why us section */
  .why-us-text {
    left: 10%;
    width: 35%;
  }

  /* project section */
  .all-projects {
    flex-direction: column;
  }

  .project {
    width: 100%;
  }

  .project:first-child,
  .project:last-child {
    flex-direction: row-reverse;
  }

  /* latest news section */
  .all-news {
    flex-direction: column;
  }

  /* more info section */
  .info-heading {
    width: 80%;
  }
}

/* mobile devices */
@media only screen and (max-width: 425px) {
  .default-center {
    padding-left: .5em;
    padding-right: .5em;
  }

  .sub-content {
    padding-top: 1em;
  }

  .service {
    width: 50%;
  }

  .why-us-text {
    top: 2em;
    left: 1em;
    width: 45%;
  }

  .team-sub-content {
    padding-bottom: 0;
  }

  .team-member {
    width: 50%;
    padding-right: .5em;
  }

  .stats-tabs {
    height: 800px;
  }

  input[id^="tab-stats"]:checked + .stats-title > .link-text {
    height: 30px;
    margin-bottom: 5em;
  }

  .project,
  .project:last-child {
    flex-direction: column;
  }

  .project:first-child,
  .project:nth-child(2) {
    flex-direction: column-reverse;
  }

  .project-info {
    width: 100%;
  }

  .project-picture {
    max-width: 100%;
    align-self: center;
  }

  .all-news {
    padding-bottom: 1em;
  }

  .main-footer {
    flex-wrap: wrap;
  }

  .footer-container {
    width: 50%;
    padding-bottom: 1em;
  }

  .about-us {
    order: 1;
  }

  .subscribe {
    order: 2;
  }

  .footer-heading {
    padding-bottom: 1em;
  }
}